<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Multi-Cloud Messaging</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col border bg-primary text-white">
      <h3>Pub/Sub</h3>
      <p>Pub/Sub messages received:</p>
      <div id="pubsub-messages">
      {% for message in pubsub_messages: %}
      <img src="{{message}}" class="img-fluid">
      {% endfor %}
      </div>
    </div>
    <div class="col border bg-warning text-white">
      <h3>SNS</h3>
      <p>SNS messages received:</p>
      <div id="sns-messages">
      {% for message in sns_messages: %}
      <img src="{{message}}" class="img-fluid">
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <a class="btn btn-primary" href="/clear" role="button">Clear</a>
  </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script> 

function doPoll(service){
    $.getJSON('/'+service+'/messages', function(data) {
        var currentCount = $("#"+service+"-messages img").length;
        var newCount = data.length;
        if (newCount > currentCount) {
            $.each(data, function (index, message) {
                if (index >= currentCount) {
                    $('#'+service+'-messages').append("<img src='"+message+"' class='img-fluid'>");
                }
            });
        }
    });
}

function doPollPubSub(){
    doPoll("pubsub");
    setTimeout(doPollPubSub, 300);
}

function doPollSNS(){
    doPoll("sns");
    setTimeout(doPollSNS, 300);
}

$( document ).ready(function() {
    doPollPubSub();
    doPollSNS();
});
</script>
</body>
</html>
